@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MovieStore.Models.Entities.Actor
@{
  ViewData["Title"] = "Confirm delete an actor";
}

<div class="row">
  <div class="col-md-8 offset-2">
    <p>
      <h1>AddAsync a new actor</h1>
    </p>
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="mb-3 text-center">
          <img src="@Model.ProfilePictureUrl" class="border-info rounded-circle" style="max-width: 150px" />
        </div>
        <div class="mb-3">
          <label asp-for="ProfilePictureUrl" class="form-label"></label>
          <input asp-for="ProfilePictureUrl" class="form-control" readonly/>
        </div>
        <div class="mb-3">
          <label asp-for="FullName" class="form-label"></label>
          <input asp-for="FullName" class="form-control" readonly/>
        </div>
        <div class="mb-3">
          <label asp-for="Bio" class="form-label"></label>
          <input asp-for="Bio" class="form-control" readonly/>
        </div>
        <div class="mb-3">
          <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <button type="submit" class="btn btn-outline-danger float-end"><i class="bi bi-trash"></i> Confirm</button>
          </form>
          <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
}


